.products{
    padding: 50px 80px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    .product{
        @include flex(column, center, center);
        box-shadow: 0 3px 4px rgba(0,0,0,0.1);
        background-color: #111;
        color: white;
        border-radius: 4px;

        img{
            width: 100%;
            aspect-ratio: 16/9;
            display: block;
            object-fit: cover;
            background: white;
            border-radius: 4px 4px 0 0;
        }
        .info{
            width: 100%;
            padding: 10px 20px;
            @include flex(row, space-between, center);
            
            .title{
                @include flex(row, flex-start, center,15px);
                h1{
                    font-size: .8rem;
                    font-weight: 200;
                }
                span{
                    opacity: 0.5;
                }
            }

        }
    }
}